Importing pandas and numpy libraries.

In [1]:
import pandas as pd
import numpy as np

Import the income text file from the Colorado Secretary of State. Some of these items need to be forced into string data types.

In [2]:
df = pd.read_csv('Discl_inc.txt', sep='\t', names = ['lob_last', 'lob_first', 'lob_add1', 'lob_add2', 'lob_city', 'lob_state',
                                                        'lob_zip', 'lob_id', 'lob_annual_id', 'emp_name', 'emp_last', 'emp_first',
                                                       'employer_mid', 'employer_add_1', 'employer_add_2', 'employer_cit',
                                                        'employer_state', 'employer_zip', 'biz_descip', 'biz_type', 'emp_status', 
                                                        'emp_start_date', 'emp_end_date', 'income', 'income_received_date', 'report_month',
                                                        'fiscal_year', 'due_date'], 
                                                dtype={'lob_id': 'str', 
                                                 'lob_annual_id': 'str',
                                                       'employer_mid': 'str',
                                                 'fiscal_year': 'str',
                                                      })
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207988 entries, 0 to 207987
Data columns (total 28 columns):
lob_last                207988 non-null object
lob_first               161411 non-null object
lob_add1                202731 non-null object
lob_add2                65621 non-null object
lob_city                202731 non-null object
lob_state               202731 non-null object
lob_zip                 202731 non-null object
lob_id                  207988 non-null object
lob_annual_id           207988 non-null object
emp_name                206757 non-null object
emp_last                1366 non-null object
emp_first               1328 non-null object
employer_mid            471 non-null object
employer_add_1          207172 non-null object
employer_add_2          39454 non-null object
employer_cit            207464 non-null object
employer_state          207464 non-null object
employer_zip            207464 non-null object
biz_descip              120641 non-null object
biz_type                41141 non-null object
emp_status              207953 non-null object
emp_start_date          207984 non-null object
emp_end_date            23013 non-null object
income                  207987 non-null object
income_received_date    202002 non-null object
report_month            207988 non-null object
fiscal_year             207988 non-null object
due_date                207988 non-null object
dtypes: object(28)
memory usage: 44.4+ MB

In [3]:
df.head()

,lob_last,lob_first,lob_add1,lob_add2,lob_city,lob_state,lob_zip,lob_id,lob_annual_id,emp_name,...,biz_descip,biz_type,emp_status,emp_start_date,emp_end_date,income,income_received_date,report_month,fiscal_year,due_date
0,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO CLERKS AND RECORDERS ASSOCIATION,...,Organization,NaN,Active,08/17/2009,NaN,"2,083.33",10/15/2009,September,2010,10/15/2009
1,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO PUBLIC EMPLOYEES' RETIREMENT ASSOCIATION,...,Business Entity,NaN,Active,10/10/2009,NaN,"4,166.66",10/15/2009,September,2010,10/15/2009
2,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,XCEL ENERGY,...,Business Entity,NaN,Active,08/17/2009,NaN,"10,000.00",10/15/2009,September,2010,10/15/2009
3,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,TREYA PARTNERS,...,Business Entity,NaN,Active,10/25/2009,NaN,"2,000.00",10/15/2009,October,2010,11/16/2009
4,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO PUBLIC EMPLOYEES' RETIREMENT ASSOCIATION,...,Business Entity,NaN,Active,10/10/2009,NaN,"4,166.66",10/14/2009,October,2010,11/16/2009

Next is the cleanup process. First combining the lobbyists names, which isn't perfect because things like 5280 Strategies become Michael 5280 Strategies. Then the employer name.

In [4]:
#combine lobbyist name - if the name is not combined, you can't get correct sums
df['lobname'] = df['lob_first'].fillna('') + ' ' + df['lob_last'].fillna('')
#strip leading space
df['lobname'] = df['lobname'].str.strip()
df.head(25)

,lob_last,lob_first,lob_add1,lob_add2,lob_city,lob_state,lob_zip,lob_id,lob_annual_id,emp_name,...,biz_type,emp_status,emp_start_date,emp_end_date,income,income_received_date,report_month,fiscal_year,due_date,lobname
0,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO CLERKS AND RECORDERS ASSOCIATION,...,NaN,Active,08/17/2009,NaN,"2,083.33",10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies
1,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO PUBLIC EMPLOYEES' RETIREMENT ASSOCIATION,...,NaN,Active,10/10/2009,NaN,"4,166.66",10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies
2,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,XCEL ENERGY,...,NaN,Active,08/17/2009,NaN,"10,000.00",10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies
3,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,TREYA PARTNERS,...,NaN,Active,10/25/2009,NaN,"2,000.00",10/15/2009,October,2010,11/16/2009,Michael 5280 Strategies
4,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO PUBLIC EMPLOYEES' RETIREMENT ASSOCIATION,...,NaN,Active,10/10/2009,NaN,"4,166.66",10/14/2009,October,2010,11/16/2009,Michael 5280 Strategies
5,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO CLERKS AND RECORDERS ASSOCIATION,...,NaN,Active,08/17/2009,NaN,"2,083.00",11/11/2009,October,2010,11/16/2009,Michael 5280 Strategies
6,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,XCEL ENERGY,...,NaN,Active,08/17/2009,NaN,"10,000.00",10/15/2009,October,2010,11/16/2009,Michael 5280 Strategies
7,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,TREYA PARTNERS,...,NaN,Active,10/25/2009,NaN,"2,000.00",11/30/2009,November,2010,12/15/2009,Michael 5280 Strategies
8,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO PUBLIC EMPLOYEES' RETIREMENT ASSOCIATION,...,NaN,Active,10/10/2009,NaN,"4,166.66",11/15/2009,November,2010,12/15/2009,Michael 5280 Strategies
9,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO CLERKS AND RECORDERS ASSOCIATION,...,NaN,Active,08/17/2009,NaN,"2,083.33",11/30/2009,November,2010,12/15/2009,Michael 5280 Strategies
10,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO BANKERS ASSOCIATION/COLORADO LEGISLAT...,...,NaN,Active,10/25/2009,NaN,"2,500.00",11/30/2009,November,2010,12/15/2009,Michael 5280 Strategies
11,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,XCEL ENERGY,...,NaN,Active,08/17/2009,NaN,"10,000.00",11/30/2009,November,2010,12/15/2009,Michael 5280 Strategies
12,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO BANKERS ASSOCIATION/COLORADO LEGISLAT...,...,NaN,Active,10/25/2009,NaN,"2,500.00",12/15/2009,December,2010,01/15/2010,Michael 5280 Strategies
13,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLO FOR MEDICAL MARIJUANA REGULATION,...,NaN,Active,12/15/2009,NaN,"3,000.00",12/31/2009,December,2010,01/15/2010,Michael 5280 Strategies
14,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO CLERKS AND RECORDERS ASSOCIATION,...,NaN,Active,08/17/2009,NaN,"2,083.33",12/15/2009,December,2010,01/15/2010,Michael 5280 Strategies
15,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO PUBLIC EMPLOYEES' RETIREMENT ASSOCIATION,...,NaN,Active,10/10/2009,NaN,"4,166.66",12/15/2009,December,2010,01/15/2010,Michael 5280 Strategies
16,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,XCEL ENERGY,...,NaN,Active,08/17/2009,NaN,"10,000.00",12/15/2009,December,2010,01/15/2010,Michael 5280 Strategies
17,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,XCEL ENERGY,...,NaN,Active,08/17/2009,NaN,"10,000.00",01/15/2010,January,2010,02/16/2010,Michael 5280 Strategies
18,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,TREYA PARTNERS,...,NaN,Active,10/25/2009,NaN,"2,000.00",01/15/2010,January,2010,02/16/2010,Michael 5280 Strategies
19,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,CITY OF BLACK HAWK,...,NaN,Active,11/15/2009,NaN,"6,666.66",01/15/2010,January,2010,02/16/2010,Michael 5280 Strategies
20,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO CLERKS AND RECORDERS ASSOCIATION,...,NaN,Active,08/17/2009,NaN,"2,083.33",01/15/2010,January,2010,02/16/2010,Michael 5280 Strategies
21,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO BANKERS ASSOCIATION/COLORADO LEGISLAT...,...,NaN,Active,10/25/2009,NaN,"2,500.00",01/15/2010,January,2010,02/16/2010,Michael 5280 Strategies
22,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLO FOR MEDICAL MARIJUANA REGULATION,...,NaN,Active,12/15/2009,NaN,"3,000.00",01/15/2010,January,2010,02/16/2010,Michael 5280 Strategies
23,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO PUBLIC EMPLOYEES' RETIREMENT ASSOCIATION,...,NaN,Active,10/10/2009,NaN,"4,166.66",01/15/2010,January,2010,02/16/2010,Michael 5280 Strategies
24,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO CLERKS AND RECORDERS ASSOCIATION,...,NaN,Active,08/17/2009,NaN,"2,083.33",02/15/2010,February,2010,03/15/2010,Michael 5280 Strategies

In [5]:
#combine employer name - if the name is not combined, you can't get correct sums
df['empname'] = df['emp_name'].fillna('') + df['emp_first'].fillna('') + ' ' + df['emp_last'].fillna('')
#strip leading space
df['empname'] = df['empname'].str.strip()
df.head(25)

,lob_last,lob_first,lob_add1,lob_add2,lob_city,lob_state,lob_zip,lob_id,lob_annual_id,emp_name,...,emp_status,emp_start_date,emp_end_date,income,income_received_date,report_month,fiscal_year,due_date,lobname,empname
0,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO CLERKS AND RECORDERS ASSOCIATION,...,Active,08/17/2009,NaN,"2,083.33",10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies,COLORADO CLERKS AND RECORDERS ASSOCIATION
1,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO PUBLIC EMPLOYEES' RETIREMENT ASSOCIATION,...,Active,10/10/2009,NaN,"4,166.66",10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies,COLORADO PUBLIC EMPLOYEES' RETIREMENT ASSOCIATION
2,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,XCEL ENERGY,...,Active,08/17/2009,NaN,"10,000.00",10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies,XCEL ENERGY
3,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,TREYA PARTNERS,...,Active,10/25/2009,NaN,"2,000.00",10/15/2009,October,2010,11/16/2009,Michael 5280 Strategies,TREYA PARTNERS
4,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO PUBLIC EMPLOYEES' RETIREMENT ASSOCIATION,...,Active,10/10/2009,NaN,"4,166.66",10/14/2009,October,2010,11/16/2009,Michael 5280 Strategies,COLORADO PUBLIC EMPLOYEES' RETIREMENT ASSOCIATION
5,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO CLERKS AND RECORDERS ASSOCIATION,...,Active,08/17/2009,NaN,"2,083.00",11/11/2009,October,2010,11/16/2009,Michael 5280 Strategies,COLORADO CLERKS AND RECORDERS ASSOCIATION
6,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,XCEL ENERGY,...,Active,08/17/2009,NaN,"10,000.00",10/15/2009,October,2010,11/16/2009,Michael 5280 Strategies,XCEL ENERGY
7,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,TREYA PARTNERS,...,Active,10/25/2009,NaN,"2,000.00",11/30/2009,November,2010,12/15/2009,Michael 5280 Strategies,TREYA PARTNERS
8,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO PUBLIC EMPLOYEES' RETIREMENT ASSOCIATION,...,Active,10/10/2009,NaN,"4,166.66",11/15/2009,November,2010,12/15/2009,Michael 5280 Strategies,COLORADO PUBLIC EMPLOYEES' RETIREMENT ASSOCIATION
9,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO CLERKS AND RECORDERS ASSOCIATION,...,Active,08/17/2009,NaN,"2,083.33",11/30/2009,November,2010,12/15/2009,Michael 5280 Strategies,COLORADO CLERKS AND RECORDERS ASSOCIATION
10,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO BANKERS ASSOCIATION/COLORADO LEGISLAT...,...,Active,10/25/2009,NaN,"2,500.00",11/30/2009,November,2010,12/15/2009,Michael 5280 Strategies,COLORADO BANKERS ASSOCIATION/COLORADO LEGISLAT...
11,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,XCEL ENERGY,...,Active,08/17/2009,NaN,"10,000.00",11/30/2009,November,2010,12/15/2009,Michael 5280 Strategies,XCEL ENERGY
12,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO BANKERS ASSOCIATION/COLORADO LEGISLAT...,...,Active,10/25/2009,NaN,"2,500.00",12/15/2009,December,2010,01/15/2010,Michael 5280 Strategies,COLORADO BANKERS ASSOCIATION/COLORADO LEGISLAT...
13,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLO FOR MEDICAL MARIJUANA REGULATION,...,Active,12/15/2009,NaN,"3,000.00",12/31/2009,December,2010,01/15/2010,Michael 5280 Strategies,COLO FOR MEDICAL MARIJUANA REGULATION
14,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO CLERKS AND RECORDERS ASSOCIATION,...,Active,08/17/2009,NaN,"2,083.33",12/15/2009,December,2010,01/15/2010,Michael 5280 Strategies,COLORADO CLERKS AND RECORDERS ASSOCIATION
15,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO PUBLIC EMPLOYEES' RETIREMENT ASSOCIATION,...,Active,10/10/2009,NaN,"4,166.66",12/15/2009,December,2010,01/15/2010,Michael 5280 Strategies,COLORADO PUBLIC EMPLOYEES' RETIREMENT ASSOCIATION
16,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,XCEL ENERGY,...,Active,08/17/2009,NaN,"10,000.00",12/15/2009,December,2010,01/15/2010,Michael 5280 Strategies,XCEL ENERGY
17,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,XCEL ENERGY,...,Active,08/17/2009,NaN,"10,000.00",01/15/2010,January,2010,02/16/2010,Michael 5280 Strategies,XCEL ENERGY
18,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,TREYA PARTNERS,...,Active,10/25/2009,NaN,"2,000.00",01/15/2010,January,2010,02/16/2010,Michael 5280 Strategies,TREYA PARTNERS
19,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,CITY OF BLACK HAWK,...,Active,11/15/2009,NaN,"6,666.66",01/15/2010,January,2010,02/16/2010,Michael 5280 Strategies,CITY OF BLACK HAWK
20,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO CLERKS AND RECORDERS ASSOCIATION,...,Active,08/17/2009,NaN,"2,083.33",01/15/2010,January,2010,02/16/2010,Michael 5280 Strategies,COLORADO CLERKS AND RECORDERS ASSOCIATION
21,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO BANKERS ASSOCIATION/COLORADO LEGISLAT...,...,Active,10/25/2009,NaN,"2,500.00",01/15/2010,January,2010,02/16/2010,Michael 5280 Strategies,COLORADO BANKERS ASSOCIATION/COLORADO LEGISLAT...
22,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLO FOR MEDICAL MARIJUANA REGULATION,...,Active,12/15/2009,NaN,"3,000.00",01/15/2010,January,2010,02/16/2010,Michael 5280 Strategies,COLO FOR MEDICAL MARIJUANA REGULATION
23,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO PUBLIC EMPLOYEES' RETIREMENT ASSOCIATION,...,Active,10/10/2009,NaN,"4,166.66",01/15/2010,January,2010,02/16/2010,Michael 5280 Strategies,COLORADO PUBLIC EMPLOYEES' RETIREMENT ASSOCIATION
24,5280 Strategies,Michael,"303 SOUTH BROADWAY, SUITE 200-321",NaN,DENVER,CO,80209,20095007379,20095007379,COLORADO CLERKS AND RECORDERS ASSOCIATION,...,Active,08/17/2009,NaN,"2,083.33",02/15/2010,February,2010,03/15/2010,Michael 5280 Strategies,COLORADO CLERKS AND RECORDERS ASSOCIATION

This changes the case to title case, eliminating all caps. This can create problems - it eliminates the NaN settings (and there's probably a way to avoid this that i should research), and messes up company names that are all caps: AT&T becomes At&T for instance.

In [6]:
detail = df.apply(lambda x: x.astype(str).str.title())
detail.info()
detail.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207988 entries, 0 to 207987
Data columns (total 30 columns):
lob_last                207988 non-null object
lob_first               207988 non-null object
lob_add1                207988 non-null object
lob_add2                207988 non-null object
lob_city                207988 non-null object
lob_state               207988 non-null object
lob_zip                 207988 non-null object
lob_id                  207988 non-null object
lob_annual_id           207988 non-null object
emp_name                207988 non-null object
emp_last                207988 non-null object
emp_first               207988 non-null object
employer_mid            207988 non-null object
employer_add_1          207988 non-null object
employer_add_2          207988 non-null object
employer_cit            207988 non-null object
employer_state          207988 non-null object
employer_zip            207988 non-null object
biz_descip              207988 non-null object
biz_type                207988 non-null object
emp_status              207988 non-null object
emp_start_date          207988 non-null object
emp_end_date            207988 non-null object
income                  207988 non-null object
income_received_date    207988 non-null object
report_month            207988 non-null object
fiscal_year             207988 non-null object
due_date                207988 non-null object
lobname                 207988 non-null object
empname                 207988 non-null object
dtypes: object(30)
memory usage: 47.6+ MB

,lob_last,lob_first,lob_add1,lob_add2,lob_city,lob_state,lob_zip,lob_id,lob_annual_id,emp_name,...,emp_status,emp_start_date,emp_end_date,income,income_received_date,report_month,fiscal_year,due_date,lobname,empname
0,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Colorado Clerks And Recorders Association,...,Active,08/17/2009,Nan,"2,083.33",10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies,Colorado Clerks And Recorders Association
1,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Colorado Public Employees' Retirement Association,...,Active,10/10/2009,Nan,"4,166.66",10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies,Colorado Public Employees' Retirement Association
2,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Xcel Energy,...,Active,08/17/2009,Nan,"10,000.00",10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies,Xcel Energy
3,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Treya Partners,...,Active,10/25/2009,Nan,"2,000.00",10/15/2009,October,2010,11/16/2009,Michael 5280 Strategies,Treya Partners
4,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Colorado Public Employees' Retirement Association,...,Active,10/10/2009,Nan,"4,166.66",10/14/2009,October,2010,11/16/2009,Michael 5280 Strategies,Colorado Public Employees' Retirement Association

Then we need to make the income field a number, which is a two step process. First, removing the commas, then coercing it into a float.

In [7]:
# convert amount to float
detail['income'] = detail['income'].str.replace(',', '')
detail.head(10)

,lob_last,lob_first,lob_add1,lob_add2,lob_city,lob_state,lob_zip,lob_id,lob_annual_id,emp_name,...,emp_status,emp_start_date,emp_end_date,income,income_received_date,report_month,fiscal_year,due_date,lobname,empname
0,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Colorado Clerks And Recorders Association,...,Active,08/17/2009,Nan,2083.33,10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies,Colorado Clerks And Recorders Association
1,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Colorado Public Employees' Retirement Association,...,Active,10/10/2009,Nan,4166.66,10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies,Colorado Public Employees' Retirement Association
2,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Xcel Energy,...,Active,08/17/2009,Nan,10000.00,10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies,Xcel Energy
3,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Treya Partners,...,Active,10/25/2009,Nan,2000.00,10/15/2009,October,2010,11/16/2009,Michael 5280 Strategies,Treya Partners
4,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Colorado Public Employees' Retirement Association,...,Active,10/10/2009,Nan,4166.66,10/14/2009,October,2010,11/16/2009,Michael 5280 Strategies,Colorado Public Employees' Retirement Association
5,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Colorado Clerks And Recorders Association,...,Active,08/17/2009,Nan,2083.00,11/11/2009,October,2010,11/16/2009,Michael 5280 Strategies,Colorado Clerks And Recorders Association
6,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Xcel Energy,...,Active,08/17/2009,Nan,10000.00,10/15/2009,October,2010,11/16/2009,Michael 5280 Strategies,Xcel Energy
7,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Treya Partners,...,Active,10/25/2009,Nan,2000.00,11/30/2009,November,2010,12/15/2009,Michael 5280 Strategies,Treya Partners
8,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Colorado Public Employees' Retirement Association,...,Active,10/10/2009,Nan,4166.66,11/15/2009,November,2010,12/15/2009,Michael 5280 Strategies,Colorado Public Employees' Retirement Association
9,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Colorado Clerks And Recorders Association,...,Active,08/17/2009,Nan,2083.33,11/30/2009,November,2010,12/15/2009,Michael 5280 Strategies,Colorado Clerks And Recorders Association

In [8]:
detail['income'] = pd.to_numeric(detail['income'], errors='coerce')
detail.head(10)
detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207988 entries, 0 to 207987
Data columns (total 30 columns):
lob_last                207988 non-null object
lob_first               207988 non-null object
lob_add1                207988 non-null object
lob_add2                207988 non-null object
lob_city                207988 non-null object
lob_state               207988 non-null object
lob_zip                 207988 non-null object
lob_id                  207988 non-null object
lob_annual_id           207988 non-null object
emp_name                207988 non-null object
emp_last                207988 non-null object
emp_first               207988 non-null object
employer_mid            207988 non-null object
employer_add_1          207988 non-null object
employer_add_2          207988 non-null object
employer_cit            207988 non-null object
employer_state          207988 non-null object
employer_zip            207988 non-null object
biz_descip              207988 non-null object
biz_type                207988 non-null object
emp_status              207988 non-null object
emp_start_date          207988 non-null object
emp_end_date            207988 non-null object
income                  207987 non-null float64
income_received_date    207988 non-null object
report_month            207988 non-null object
fiscal_year             207988 non-null object
due_date                207988 non-null object
lobname                 207988 non-null object
empname                 207988 non-null object
dtypes: float64(1), object(29)
memory usage: 47.6+ MB

Need to get the distinct lobbyist names and make sure there aren't any duplicates. This gets them just for 2017.

In [ ]:
#get distinct lobby names
lobnamea = detail17.lobname.unique()
lobnamel = list(lobnamea)
lobname = pd.DataFrame(lobnamel, columns=["colummn"])
lobname.to_csv('lobname2.csv', index=False)

Next standardize the lobbyist names that are duplicates.

In [9]:
def combine_lob_names(row):
    if row.lobname.startswith('Valdez'):
        return 'Valdez Public Affairs'
    elif row.lobname.startswith('Michael 5280'):
        return '5280 Strategies'
    elif row.lobname.startswith('Margaret Ackerman'):
        return 'Ackerman Information Corp'
    elif row.lobname.startswith('Amy Attwood'):
        return 'Attwood Public Affairs'
    elif row.lobname.startswith('Arlene Capitoline'):
        return 'Capitoline Consulting Llc'
    elif row.lobname.startswith('Gray Gray'):
        return 'Grayline Strategy'
    elif row.lobname.startswith('Larry Hudson'):
        return 'Hudson Government Affairs'
    elif row.lobname.startswith('Joan Andrew'):
        return 'J. Andrew Green & Assoc., Inc.'
    elif row.lobname.startswith('Jason Jlh'):
        return 'JLH Consulting & Public Affairs, Llc'
    elif row.lobname.startswith('Annmarie'):
        return 'Jensen Public Affairs'
    elif row.lobname.startswith('Solomon'):
        return 'Peak Government Affairs'
    elif row.lobname.startswith('Elisabeth Political'):
        return 'Political Advocacy, Inc.'
    elif row.lobname.startswith('Eliza Schult'):
        return 'Schultz Public Affairs, Llc'
    elif row.lobname.startswith('Cindy Sov'):
        return 'Sovine Miller & Company'
    elif row.lobname.startswith('Saskia'):
        return 'Young Public Affairs Llc'
    elif row.lobname.startswith('Kara Gold'):
        return 'Gold Dome Access'
    elif row.lobname.startswith('Stacey Colorado'):
        return 'Colorado Consulting'
    elif row.lobname.startswith('Steven Colorado'):
        return 'Colorado Winning Edge'
    

    return row.lobname

In [10]:
detail['lobbyist_cleanname'] = detail.apply(combine_lob_names, axis=1)
detail.info()
detail.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207988 entries, 0 to 207987
Data columns (total 31 columns):
lob_last                207988 non-null object
lob_first               207988 non-null object
lob_add1                207988 non-null object
lob_add2                207988 non-null object
lob_city                207988 non-null object
lob_state               207988 non-null object
lob_zip                 207988 non-null object
lob_id                  207988 non-null object
lob_annual_id           207988 non-null object
emp_name                207988 non-null object
emp_last                207988 non-null object
emp_first               207988 non-null object
employer_mid            207988 non-null object
employer_add_1          207988 non-null object
employer_add_2          207988 non-null object
employer_cit            207988 non-null object
employer_state          207988 non-null object
employer_zip            207988 non-null object
biz_descip              207988 non-null object
biz_type                207988 non-null object
emp_status              207988 non-null object
emp_start_date          207988 non-null object
emp_end_date            207988 non-null object
income                  207987 non-null float64
income_received_date    207988 non-null object
report_month            207988 non-null object
fiscal_year             207988 non-null object
due_date                207988 non-null object
lobname                 207988 non-null object
empname                 207988 non-null object
lobbyist_cleanname      207988 non-null object
dtypes: float64(1), object(30)
memory usage: 49.2+ MB

,lob_last,lob_first,lob_add1,lob_add2,lob_city,lob_state,lob_zip,lob_id,lob_annual_id,emp_name,...,emp_start_date,emp_end_date,income,income_received_date,report_month,fiscal_year,due_date,lobname,empname,lobbyist_cleanname
0,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Colorado Clerks And Recorders Association,...,08/17/2009,Nan,2083.33,10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies,Colorado Clerks And Recorders Association,5280 Strategies
1,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Colorado Public Employees' Retirement Association,...,10/10/2009,Nan,4166.66,10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies,Colorado Public Employees' Retirement Association,5280 Strategies
2,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Xcel Energy,...,08/17/2009,Nan,10000.00,10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies,Xcel Energy,5280 Strategies
3,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Treya Partners,...,10/25/2009,Nan,2000.00,10/15/2009,October,2010,11/16/2009,Michael 5280 Strategies,Treya Partners,5280 Strategies
4,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Colorado Public Employees' Retirement Association,...,10/10/2009,Nan,4166.66,10/14/2009,October,2010,11/16/2009,Michael 5280 Strategies,Colorado Public Employees' Retirement Association,5280 Strategies

In [34]:
#get distinct lobby names
lobnamec = detail.lobbyist_cleanname.unique()
lobname_clean = list(lobnamec)
lobname = pd.DataFrame(lobname_clean, columns=["colummn"])
lobname.to_csv('lobname_clean2.csv', index=False)

This gets a list of distinct employer names to check for which need to be cleaned up.

In [27]:
#get distinct employer names
empnamea = detail.empname.unique()
empnamel = list(empnamea)
empname = pd.DataFrame(empnamel, columns=["colummn"])
empname.to_csv('empname3.csv', index=False)

The next two cells clean up the names for 2017. This is based on 2017 data only at this point, except for lobbyists' names for that year. There are more than 7,000 names here; so tough to clean them all. Something to come back to. But this step already takes a ton of memory.

In [11]:
def combine_names(row):
    if row.empname.startswith('Aetna'):
        return 'Aetna Inc.'
    elif row.empname.startswith('5280'):
        return '5280 Strategies'
    elif row.empname.startswith('Ace'):
        return 'Ace Cash Express'
    elif row.empname.startswith('Ackerman'):
        return 'Ackerman Information Corp'
    elif row.empname.startswith('Adapt Pharma'):
        return 'Adapt Pharma'
    elif row.empname.startswith('Allergan'):
        return 'Allergan'
    elif row.empname.startswith('Altria'):
        return 'Altria Client Services'
    elif row.empname.startswith('Alzheimer'):
        return 'Alzheimer\'s Association of Colorado'
    elif row.empname.startswith('Alkermes'):
        return 'Alkermes'
    elif row.empname.startswith('Alkemes'):
        return 'Alkermes'
    elif row.empname.startswith('American Academy'):
        return 'American Academy of Pediatrics, Colorado Chapter'
    elif row.empname.startswith('American Consulting'):
        return 'American Consulting Engineers Council'
    elif row.empname.startswith('Amer Cons'):
        return 'American Consulting Engineers Council'
    elif row.empname.startswith('American Diabetes'):
        return 'American Diabetes Association'
    elif row.empname.startswith('Amer Ins Assn'):
        return 'American Insurance Association'
    elif row.empname.startswith('Amer Mobile'):
        return 'American Mobile Home Association'
    elif row.empname.startswith('American Mobile'):
        return 'American Mobile Home Association'
    elif row.empname.startswith('Amer Soc'):
        return 'American Society of Mechanical Engineers'
    elif row.empname.startswith('American Soc Of Mech'):
        return 'American Society of Mechanical Engineers'
    elif row.empname.startswith('American Society Of Mech'):
        return 'American Society of Mechanical Engineers'
    elif row.empname.startswith('American Subcontractors'):
        return 'American Subcontractors Association of Colorado'
    elif row.empname.startswith('Ameristar'):
        return 'Ameristar Casino Blackhawk'
    elif row.empname.startswith('Anthem'):
        return 'Anthem Inc'
    elif row.empname.startswith('Aponte'):
        return 'Aponte Public Affairs, Inc.'
    elif row.empname.startswith('Artist'):
        return 'J. William Artist & Associates, Inc.'
    elif row.empname.startswith('Astellas'):
        return 'Astellas Pharma Inc.'
    elif row.empname.startswith('AstraZeneca'):
        return 'AstraZeneca'
    elif row.empname.startswith('Astrazeneca'):
        return 'AstraZeneca'
    elif row.empname.startswith('At &'):
        return 'AT&T'
    elif row.empname.startswith('At&'):
        return 'AT&T'
    elif row.empname.startswith('Attwood'):
        return 'Attwood Public Affairs'
    elif row.empname.startswith('Aurora Economic'):
        return 'Aurora Economic Development Council'
    elif row.empname.startswith('Axiom'):
        return 'Axiom Strategies'
    elif row.empname.startswith('Benson,'):
        return 'Benson, Kerrane, Storz & Nelson'
    elif row.empname.startswith('Better Priorities'):
        return 'Better Priorities Initiative'
    elif row.empname.startswith('Bigelow And Companty'):
        return 'Bigelow And Company'
    elif row.empname.startswith('Biotech'):
        return 'Biotechnology Industry Association'
    elif row.empname.startswith('Bis -'):
        return 'Background Information Services, Inc.'
    elif row.empname.startswith('Black Hawk Casino'):
        return 'Black Hawk Gaming Association'
    elif row.empname.startswith('Black Hawk Gaming'):
        return 'Black Hawk Gaming Association'
    elif row.empname.startswith('Bowlen'):
        return 'Denver Broncos Football Club'
    elif row.empname.startswith('Bowditch'):
        return 'Bowditch & Cassell Public Affairs'
    elif row.empname.startswith('Brandeberry Mck'):
        return 'Brandeberry Mckenna Public Affairs'
    elif row.empname.startswith('Capitol Focus'):
        return 'Capitol Focus, Llc'
    elif row.empname.startswith('Center For Health'):
        return 'Center for Health Progress'
    elif row.empname.startswith('Chevron'):
        return 'Chevron U.S.A. Inc.'
    elif row.empname.startswith('City Of West'):
        return 'City of Westminster'
    elif row.empname.startswith('Clinicnet'):
        return 'Clinicnet'
    elif row.empname.startswith('Colorado Advocates'):
        return 'Colorado Advocates'
    elif row.empname.startswith('Colo Assn Of Distributors'):
        return 'Colorado Association Of Distributors'
    elif row.empname.startswith('Colorado Association Of Commerce'):
        return 'Colorado Association Of Commerce & Industry'
    elif row.empname.startswith('Colo Beer Distributors Assn'):
        return 'Colorado Beer Distributors Association'
    elif row.empname.startswith('Colo Behavioral'):
        return 'Colorado Behavioral Healthcare Council'
    elif row.empname.startswith('Colorado Center'):
        return 'Colorado Center On Law & Policy'
    elif row.empname.startswith('Colo Dental'):
        return 'Colorado Dental Hygienists Association'
    elif row.empname.startswith('Colo Health'):
        return 'Colorado Health Care Association'
    elif row.empname.startswith('Colo Medical'):
        return 'Colorado Medical Society'
    elif row.empname.startswith('Colo River'):
        return 'Colorado River Water Conservation District'
    elif row.empname.startswith('Colorado River Water'):
        return 'Colorado River Water Conservation District'
    elif row.empname.startswith('Colo Ski'):
        return 'Colorado Ski Country USA'
    elif row.empname.startswith('Colorado Ski'):
        return 'Colorado Ski Country USA'
    elif row.empname.startswith('Colo. Community'):
        return 'Colorado Community College System'
    elif row.empname.startswith('Colorado Association of Commerce'):
        return 'Colorado Association Of Commerce And Industry'
    elif row.empname.startswith('Colorado Auto'):
        return 'Colorado Automobile Dealers Association'
    elif row.empname.startswith('Colorado Boces'):
        return 'Colorado BOCES Association'
    elif row.empname.startswith('Colorado Center on Law'):
        return 'Colorado Center on Law and Policy'
    elif row.empname.startswith('Colorado Chiropra'):
        return 'Colorado Chiropractic Association'
    elif row.empname.startswith('Colorado Coroner'):
        return 'Colorado Coroners Association'
    elif row.empname.startswith('Colorado Counties'):
        return 'Colorado Counties Inc.'
    elif row.empname.startswith('Colorado Criminal'):
        return 'Colorado Criminal Justice Reform Association'
    elif row.empname.startswith('Colorado District'):
        return 'Colorado District Attorneys Council'
    elif row.empname.startswith('Colorado Licensed'):
        return 'Colorado Licensed Beverage Association'
    elif row.empname.startswith('Colorado Petroleum Council'):
        return 'Colorado Petroleum Council'
    elif row.empname.startswith('Colorado Self'):
        return 'Colorado Self Insurers Association'
    elif row.empname.startswith('Colorado Trial'):
        return 'Colorado Trial Lawyers Association'
    elif row.empname.startswith('Comcast'):
        return 'Comcast'
    elif row.empname.startswith('Compassion'):
        return 'Compassion & Choices Action Network'
    elif row.empname.startswith('Copirg'):
        return 'COPIRG and affiliates'
    elif row.empname.startswith('Dentons'):
        return 'Dentons Us Llp'
    elif row.empname.startswith('Denver Health'):
        return 'Denver Health and Hospital Authority'
    elif row.empname.startswith('Denver Metro B'):
        return 'Denver Metro Building Owners and Managers'
    elif row.empname.startswith('Denver Reg'):
        return 'Denver Regional Council of Governments'
    elif row.empname.startswith('Eaze Solution'):
        return 'Eaze Solutions'
    elif row.empname.startswith('Economic Developmet'):
        return 'Economic Development Education Committee'
    elif row.empname.startswith('Economic Development Educ'):
        return 'Economic Development Education Committee'
    elif row.empname.startswith('Eli'):
        return 'Eli Lilly'
    elif row.empname.startswith('Express'):
        return 'Express Scripts Holding Co.'
    elif row.empname.startswith('Fmr'):
        return 'FMR LLC'
    elif row.empname.startswith('Foster '):
        return 'Foster Graham Milstein & Calisher, LLP'
    elif row.empname.startswith('Foster, '):
        return 'Foster Graham Milstein & Calisher, LLP'
    elif row.empname.startswith('Genentech'):
        return 'Genentech Inc, member of The Roche Group'
    elif row.empname.startswith('Headwaters'):
        return 'Headwaters Strategies'
    elif row.empname.startswith('Heizer Paul'):
        return 'Heizer Paul Llp'
    elif row.empname.startswith('Hilltop Public'):
        return 'Hilltop Public Solutions'
    elif row.empname.startswith('Hope '):
        return 'Hope Online Learning Academy Co-op'
    elif row.empname.startswith('Ind Bankers'):
        return 'Independent Bankers Of Colorado'
    elif row.empname.startswith('Ingersoll'):
        return 'Ingersoll Rand'
    elif row.empname.startswith('J.Andrew'):
        return 'J. Andrew Green & Assoc., Inc.'
    elif row.empname.startswith('J W'):
        return 'J. William Artist & Associates, Inc.'
    elif row.empname.startswith('Jlh'):
        return 'JLH Consulting & Public Affairs, Llc'
    elif row.empname.startswith('Jason L'):
        return 'JLH Consulting & Public Affairs, Llc'
    elif row.empname.startswith('Kum'):
        return 'Kum & Go'
    elif row.empname.startswith('Leading'):
        return 'LeadingAge Colorado'
    elif row.empname.startswith('Legacy'):
        return 'Legacy Water Association'
    elif row.empname.startswith('Lewis Roca'):
        return 'Lewis Roca Rothgerber Christie LLP'
    elif row.empname.startswith('Littleton Public Schools'):
        return 'Littleton Public Schools'
    elif row.empname.startswith('Lombard'):
        return 'Lombard & Clayton, Inc.'
    elif row.empname.startswith('M. Christiansen'):
        return 'Margy Christiansen'
    elif row.empname.startswith('Mckenzie'):
        return 'McKenzie Rhody'
    elif row.empname.startswith('Mendez'):
        return 'Mendez Consulting, Inc.'
    elif row.empname.startswith('Merck'):
        return 'Merck Shart & Dohme Corp.'
    elif row.empname.startswith('Michael'):
        return 'Michael Best Strategies Llc'
    elif row.empname.startswith('Mile High Racing'):
        return 'Mile High Racing'
    elif row.empname.startswith('Miles'):
        return 'Frontline Public Affairs (\Miles Consulting, Inc.)'
    elif row.empname.startswith('Millercoors'):
        return 'MillerCoors'
    elif row.empname.startswith('National Counsel'):
        return 'National Council On Compensation Insurance'
    elif row.empname.startswith('National Council On '):
        return 'National Council On Compensation Insurance'
    elif row.empname.startswith('National Electrical'):
        return 'National Electrical Contractors Association'
    elif row.empname.startswith('National Rifle'):
        return 'National Rifle Association'
    elif row.empname.startswith('Natural '):
        return 'Natural Resources Defense Council'
    elif row.empname.startswith('Noble'):
        return 'Noble Energy'
    elif row.empname.startswith('Northwest Colorado'):
        return 'Northwest Colorado Council of Governments'
    elif row.empname.startswith('Novartis'):
        return 'Novartis Services'
    elif row.empname.startswith('Peak Strategic'):
        return 'Peak Strategic Strategies L.L.C.'
    elif row.empname.startswith('Pfizer'):
        return 'Pfizer Inc.'
    elif row.empname.startswith('Pharmaceutical'):
        return 'Pharmaceutical Research and Manufacturers of America'
    elif row.empname.startswith('Policy Matters'):
        return 'Policy Matters'
    elif row.empname.startswith('Politicalworks'):
        return 'Politicalworks'
    elif row.empname.startswith('Pub E'):
        return 'Colorado Public Employees Retirement Association'
    elif row.empname.startswith('Public Emp'):
        return 'Colorado Public Employees Retirement Association'
    elif row.empname.startswith('Colorado Public'):
        return 'Colorado Public Employees Retirement Association'
    elif row.empname.startswith('Pueblo County'):
        return 'Pueblo County'
    elif row.empname.startswith('Pueblo West'):
        return 'Pueblo West Metropolitan District'
    elif row.empname.startswith('R&R'):
        return 'R&R Partners'
    elif row.empname.startswith('Ratliff'):
        return 'Pat Ratliff'
    elif row.empname.startswith('Relx'):
        return 'RELX Group'
    elif row.empname.startswith('Rx'):
        return 'Rx Plus Pharmacies'
    elif row.empname.startswith('Sesac'):
        return 'Sesac Inc.'
    elif row.empname.startswith('Seiu'):
        return 'Service Employees International Union'
    elif row.empname.startswith('Sewald'):
        return 'Sewald Hanfling Public Affairs'
    elif row.empname.startswith('Siegel'):
        return 'Siegel Public Affairs, Llc'
    elif row.empname.startswith('Sloan'):
        return 'Sloan And Associates Public Affairs, Llc'
    elif row.empname.startswith('Stealey'):
        return 'Stealey Ii, Inc.'
    elif row.empname.startswith('Support'):
        return 'Support Your Local Liquor Store'
    elif row.empname.startswith('Tesla'):
        return 'Tesla Motors'
    elif row.empname.startswith('The Capstone'):
        return 'The Capstone Group, Llc'
    elif row.empname.startswith('Tomlinson'):
        return 'Danny Tomlinson'
    elif row.empname.startswith('The Colorado Rest'):
        return 'Colorado Restaurant Association'
    elif row.empname.startswith('The Howes'):
        return 'Christopher The Howes Group, Llc'
    elif row.empname.startswith('Tri-State'):
        return 'Tri-State Generation and Transmission Association'
    elif row.empname.startswith('Uber'):
        return 'Uber Technologies'
    elif row.empname.startswith('Union Pacific'):
        return 'Union Pacific Railroad'
    elif row.empname.startswith('Urban Neighborhoods'):
        return 'Urban Neighborhoods'
    elif row.empname.startswith('The Capstone'):
        return 'The Capstone Group, Llc'
    elif row.empname.startswith('Valdez'):
        return 'Valdez Public Affairs'
    elif row.empname.startswith('Vertex'):
        return 'Vertex Pharmaceuticals Inc.'
    elif row.empname.startswith('Viaero Wireless'):
        return 'Viaero Wireless'
    elif row.empname.startswith('Visa'):
        return 'Visa'
    elif row.empname.startswith('Wal-Mart'):
        return 'Wal-Mart'
    elif row.empname.startswith('Waste Management'):
        return 'Waste Management'
    elif row.empname.startswith('Whiteboard'):
        return 'Whiteboard Advisors Llc'
    elif row.empname.startswith('Wine &'):
        return 'Wine & Spirits Wholesalers of Colorado'
    elif row.empname.startswith('United Health'):
        return 'UnitedHealthcare'
    elif row.empname.startswith('Homeowner'):
        return 'Homeownership Opportunity Alliance'
    elif row.empname.startswith('Hoban'):
        return 'Hoban Law Group'
    elif row.empname.startswith('Westminster,'):
        return 'City of Westminster'
    elif row.empname.startswith('Common Cause'):
        return 'Colorado Common Cause'
    elif row.empname.startswith('Dci Group'):
        return 'Altria Client Services'
    elif row.empname.startswith('National Strategies'):
        return 'Securus Technologies'
    elif row.empname.startswith('Woodman Hills Metro District'):
        return 'Woodmen Hills Metro District'
    elif row.empname.startswith('Takeda Pharmaceuticals America In.'):
        return 'Takeda Pharmaceuticals America Inc.'
    elif row.empname.startswith('Sullan Construction'):
        return 'Burg Simpson Eldredge Hersh Jardine Pc'
    elif row.empname.startswith('Corporate Advocates'):
        return 'Colorado Advocates'
    elif row.empname.startswith('Colorado Motor Carrier'):
        return 'Colorado Motor Carrier Association'
    elif row.empname.startswith('Thornton (\City Of)'):
        return 'City of Thornton'
    elif row.empname.startswith('Adam\'S 12 Five Star Schools'):
        return 'Adams 12 Five Star Schools'
    elif row.empname.startswith('Natl Assn/Industrial Office Properties'):
        return 'National Association Of Industrial & Office Properties'
    
    return row.empname

In [12]:
detail['employer_cleanname'] = detail.apply(combine_names, axis=1)
detail.info()
detail.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207988 entries, 0 to 207987
Data columns (total 32 columns):
lob_last                207988 non-null object
lob_first               207988 non-null object
lob_add1                207988 non-null object
lob_add2                207988 non-null object
lob_city                207988 non-null object
lob_state               207988 non-null object
lob_zip                 207988 non-null object
lob_id                  207988 non-null object
lob_annual_id           207988 non-null object
emp_name                207988 non-null object
emp_last                207988 non-null object
emp_first               207988 non-null object
employer_mid            207988 non-null object
employer_add_1          207988 non-null object
employer_add_2          207988 non-null object
employer_cit            207988 non-null object
employer_state          207988 non-null object
employer_zip            207988 non-null object
biz_descip              207988 non-null object
biz_type                207988 non-null object
emp_status              207988 non-null object
emp_start_date          207988 non-null object
emp_end_date            207988 non-null object
income                  207987 non-null float64
income_received_date    207988 non-null object
report_month            207988 non-null object
fiscal_year             207988 non-null object
due_date                207988 non-null object
lobname                 207988 non-null object
empname                 207988 non-null object
lobbyist_cleanname      207988 non-null object
employer_cleanname      207988 non-null object
dtypes: float64(1), object(31)
memory usage: 50.8+ MB

,lob_last,lob_first,lob_add1,lob_add2,lob_city,lob_state,lob_zip,lob_id,lob_annual_id,emp_name,...,emp_end_date,income,income_received_date,report_month,fiscal_year,due_date,lobname,empname,lobbyist_cleanname,employer_cleanname
0,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Colorado Clerks And Recorders Association,...,Nan,2083.33,10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies,Colorado Clerks And Recorders Association,5280 Strategies,Colorado Clerks And Recorders Association
1,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Colorado Public Employees' Retirement Association,...,Nan,4166.66,10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies,Colorado Public Employees' Retirement Association,5280 Strategies,Colorado Public Employees Retirement Association
2,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Xcel Energy,...,Nan,10000.00,10/15/2009,September,2010,10/15/2009,Michael 5280 Strategies,Xcel Energy,5280 Strategies,Xcel Energy
3,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Treya Partners,...,Nan,2000.00,10/15/2009,October,2010,11/16/2009,Michael 5280 Strategies,Treya Partners,5280 Strategies,Treya Partners
4,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20095007379,Colorado Public Employees' Retirement Association,...,Nan,4166.66,10/14/2009,October,2010,11/16/2009,Michael 5280 Strategies,Colorado Public Employees' Retirement Association,5280 Strategies,Colorado Public Employees Retirement Association

In [106]:
#get distinct employer names
empnamec = detail.employer_cleanname.unique()
empname_clean = list(empnamec)
empname = pd.DataFrame(empname_clean, columns=["column"])
empname.to_csv('empname_clean.csv', index=False)

This would convert the modified file to csv for examining in excel or postgresql.

In [107]:
detail.to_csv('income_all.csv')

For now, I'm primarily concerned with FY2017, so this gets the info for that year.

In [13]:
detail17 = detail[detail['fiscal_year'] == '2017']
detail17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11338 entries, 766 to 207888
Data columns (total 32 columns):
lob_last                11338 non-null object
lob_first               11338 non-null object
lob_add1                11338 non-null object
lob_add2                11338 non-null object
lob_city                11338 non-null object
lob_state               11338 non-null object
lob_zip                 11338 non-null object
lob_id                  11338 non-null object
lob_annual_id           11338 non-null object
emp_name                11338 non-null object
emp_last                11338 non-null object
emp_first               11338 non-null object
employer_mid            11338 non-null object
employer_add_1          11338 non-null object
employer_add_2          11338 non-null object
employer_cit            11338 non-null object
employer_state          11338 non-null object
employer_zip            11338 non-null object
biz_descip              11338 non-null object
biz_type                11338 non-null object
emp_status              11338 non-null object
emp_start_date          11338 non-null object
emp_end_date            11338 non-null object
income                  11338 non-null float64
income_received_date    11338 non-null object
report_month            11338 non-null object
fiscal_year             11338 non-null object
due_date                11338 non-null object
lobname                 11338 non-null object
empname                 11338 non-null object
lobbyist_cleanname      11338 non-null object
employer_cleanname      11338 non-null object
dtypes: float64(1), object(31)
memory usage: 2.9+ MB

Deborah Wagner reported twice, in both her own name and her LLC name. So we're dropping the latter from this table.

In [22]:
detail17 = detail17[~detail17['lobbyist_cleanname'].isin(['Deborah Deborah A. Wagner, Llc'])]
detail17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11301 entries, 766 to 207888
Data columns (total 32 columns):
lob_last                11301 non-null object
lob_first               11301 non-null object
lob_add1                11301 non-null object
lob_add2                11301 non-null object
lob_city                11301 non-null object
lob_state               11301 non-null object
lob_zip                 11301 non-null object
lob_id                  11301 non-null object
lob_annual_id           11301 non-null object
emp_name                11301 non-null object
emp_last                11301 non-null object
emp_first               11301 non-null object
employer_mid            11301 non-null object
employer_add_1          11301 non-null object
employer_add_2          11301 non-null object
employer_cit            11301 non-null object
employer_state          11301 non-null object
employer_zip            11301 non-null object
biz_descip              11301 non-null object
biz_type                11301 non-null object
emp_status              11301 non-null object
emp_start_date          11301 non-null object
emp_end_date            11301 non-null object
income                  11301 non-null float64
income_received_date    11301 non-null object
report_month            11301 non-null object
fiscal_year             11301 non-null object
due_date                11301 non-null object
lobname                 11301 non-null object
empname                 11301 non-null object
lobbyist_cleanname      11301 non-null object
employer_cleanname      11301 non-null object
dtypes: float64(1), object(31)
memory usage: 2.8+ MB

Lob_emp is a list of lobbyists who work for lobbying firms, and are listed as being paid by lobbying firms (which are listed as clients/sources of income, and results double counting income. These names were obtained by going through and looking up most of these lobbyists and who was paying them to determine who works for whom. 

These next procedures take them out. Am using a placeholder of '1' in the trigger column, which makes it easier to delete these from the main database.

In [23]:
#import the list of lobbyists paid by lobbying firms
lob_list = pd.read_csv('lob_emp.csv')
lob_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 2 columns):
lobbyist_cleanname    94 non-null object
trigger               94 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

This step merges the two tables.

In [24]:
df1 = pd.merge(detail17, lob_list, on='lobbyist_cleanname', how='outer')
df1.head()

,lob_last,lob_first,lob_add1,lob_add2,lob_city,lob_state,lob_zip,lob_id,lob_annual_id,emp_name,...,income,income_received_date,report_month,fiscal_year,due_date,lobname,empname,lobbyist_cleanname,employer_cleanname,trigger
0,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20165021027,Land Title Guarantee Company,...,3000.0,07/15/2016,July,2017,08/15/2016,Michael 5280 Strategies,Land Title Guarantee Company,5280 Strategies,Land Title Guarantee Company,NaN
1,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20165021027,Legacy Water Association,...,2500.0,07/15/2016,July,2017,08/15/2016,Michael 5280 Strategies,Legacy Water Association,5280 Strategies,Legacy Water Association,NaN
2,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20165021027,Xcel Energy,...,14500.0,07/15/2016,July,2017,08/15/2016,Michael 5280 Strategies,Xcel Energy,5280 Strategies,Xcel Energy,NaN
3,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20165021027,El Paso County,...,4000.0,07/15/2016,July,2017,08/15/2016,Michael 5280 Strategies,El Paso County,5280 Strategies,El Paso County,NaN
4,5280 Strategies,Michael,"303 South Broadway, Suite 200-321",Nan,Denver,Co,80209,20095007379,20165021027,Littleton Public Schools/Colorado Consulting,...,3000.0,07/15/2016,July,2017,08/15/2016,Michael 5280 Strategies,Littleton Public Schools/Colorado Consulting,5280 Strategies,Littleton Public Schools,NaN

In [25]:
# this solution is from here: 
# https://stackoverflow.com/questions/33349797/compare-pandas-dataframes-and-return-rows-that-are-missing-from-the-first-one/42004293#42004293
lob17_clean = df1.ix[df1['trigger'].isnull(),:]

In [26]:
lob17_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10129 entries, 0 to 11300
Data columns (total 33 columns):
lob_last                10129 non-null object
lob_first               10129 non-null object
lob_add1                10129 non-null object
lob_add2                10129 non-null object
lob_city                10129 non-null object
lob_state               10129 non-null object
lob_zip                 10129 non-null object
lob_id                  10129 non-null object
lob_annual_id           10129 non-null object
emp_name                10129 non-null object
emp_last                10129 non-null object
emp_first               10129 non-null object
employer_mid            10129 non-null object
employer_add_1          10129 non-null object
employer_add_2          10129 non-null object
employer_cit            10129 non-null object
employer_state          10129 non-null object
employer_zip            10129 non-null object
biz_descip              10129 non-null object
biz_type                10129 non-null object
emp_status              10129 non-null object
emp_start_date          10129 non-null object
emp_end_date            10129 non-null object
income                  10129 non-null float64
income_received_date    10129 non-null object
report_month            10129 non-null object
fiscal_year             10129 non-null object
due_date                10129 non-null object
lobname                 10129 non-null object
empname                 10129 non-null object
lobbyist_cleanname      10129 non-null object
employer_cleanname      10129 non-null object
trigger                 0 non-null float64
dtypes: float64(2), object(31)
memory usage: 2.6+ MB

In [27]:
lob17_clean['income'].sum()

31780033.810000002

This gets a csv file of the details.

In [ ]:
lob17_clean.to_csv('lob_detail.csv')

A couple of basic calculations.

In [30]:
lob17_clean.income.sum()

31780033.810000002

In [28]:
lob17_clean.groupby('report_month').income.sum().reset_index()

   report_month      income
0         April  3422910.17
1        August  2093289.60
2      December  2278341.44
3      February  3183422.17
4       January  3013647.26
5          July  2148861.88
6          June  2377002.72
7         March  3463997.31
8           May  3309761.74
9      November  2149104.89
10      October  2152384.00
11    September  2187310.63

The sums get the total income for lobbyists - but needs to have subcontracting backed out.

In [31]:
lob_sums = lob17_clean.groupby('lobbyist_cleanname').income.sum().reset_index().sort_values('income', ascending=False)
lob_sums.info()
lob_sums.head

<class 'pandas.core.frame.DataFrame'>
Int64Index: 447 entries, 49 to 399
Data columns (total 2 columns):
lobbyist_cleanname    447 non-null object
income                447 non-null float64
dtypes: float64(1), object(1)
memory usage: 10.5+ KB

<bound method DataFrame.head of                                     lobbyist_cleanname      income
49                  Brandeberry Mckenna Public Affairs  1611425.56
93                  Colorado Legislative Services, Llc  1508256.20
331                                     Politicalworks  1126849.95
165                              Headwaters Strategies  1122559.91
410                            The Capstone Group, Llc   980929.00
37                                Axiom Strategies Inc   892341.78
0                                      5280 Strategies   864844.81
310                           Nexus Policy Group, Inc.   816578.56
179               JLH Consulting & Public Affairs, Llc   637373.68
294                            Mendez Consulting, Inc.   608348.95
46                   Bowditch & Cassell Public Affairs   575591.10
28                         Aponte Public Affairs, Inc.   542300.36
334                                       R&R Partners   540501.01
296                                     Michael Feeley   521299.12
295                        Michael Best Strategies Llc   500743.31
433                          Weist Capitol Group, Inc.   476749.98
382                         Siegel Public Affairs, Llc   471836.42
329                                     Policy Matters   460723.80
173                          Hudson Government Affairs   435000.00
151  Frontline Public Affairs (Miles Consulting, Inc.)   415353.48
293                                    Melissa Kuipers   400232.10
84                    Christopher The Howes Group, Llc   371508.29
62                                  Capitol Focus, Llc   340569.00
323                          Peter Kirchhof Group Inc.   304000.00
160                                   Gold Dome Access   303533.35
283                               Mary Alice Mandarich   296525.45
422           Totsy Rees Consulting And Public Affairs   279465.15
178               J. William Artist & Associates, Inc.   259490.85
205                                     Jerald Johnson   254400.04
32                              Attwood Public Affairs   249696.42
..                                                 ...         ...
358                                      Roy Lindfield      223.56
135                                      Ellen Harnick      210.00
215                                         Joe Dooley      207.92
306                                      Mike Potestio      204.73
412                                    Theresa Baillie      201.93
210                                      Jewel Simmons      200.00
4                                         Adam Rondeau      200.00
89                                  Colleen Mcloughlin      199.80
133                                  Elizabeth Stephan      197.92
56                                       Brooke Powers      192.00
197                                     Jennifer Engle      187.50
150                               Freda Hawver Pachter      182.00
222                                    Jonathan Brater      170.00
302                                       Michael Yaki      166.67
319                                       Paul Sherman      163.50
34                                         Aubrey Hill      126.00
99                                 Cyril (Skip) Barber      100.27
370                                    Sarah Silverman       84.13
406                                        Terri Hurst       77.80
67                                        Caroline Fry       76.92
437                            Whiteboard Advisors Llc       72.12
209                                       Jesus Loayza       50.96
312                                          Noah Long       49.04
216                                         Joe Sammen       49.00
145                                 Ezequiel Gorrocino       36.00
6                                      Aditi Ramaswami       28.00
189                                      James Nikolai       24.83
12                                  Ally Public Policy        0.00
40                                      Barbara Walker        0.00
399                                          Susan Cox        0.00

[447 rows x 2 columns]>

In [52]:
lob_sums.to_csv('lob_sums.csv')

Next we'll get the subcontractor payments, and subtract them from the gross income to get a calculated field that is the net income.

In [32]:
sub_sum = pd.read_csv('sub_sum.csv')
sub_sum.info()
sub_sum.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 3 columns):
Unnamed: 0            43 non-null int64
lobbyist_cleanname    43 non-null object
paid_to_sub           43 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ KB

   Unnamed: 0                    lobbyist_cleanname  paid_to_sub
0           0                       5280 Strategies    269583.40
1          23  JLH Consulting & Public Affairs, Llc    116394.01
2          14                          David Foster     99999.96
3          26               Lombard & Clayton, Inc.     89199.96
4          19                      Gold Dome Access     66000.00

In [33]:
totals = pd.merge(lob_sums, sub_sum, on='lobbyist_cleanname', how='outer')
totals.info()
totals.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 448 entries, 0 to 447
Data columns (total 4 columns):
lobbyist_cleanname    448 non-null object
income                447 non-null float64
Unnamed: 0            43 non-null float64
paid_to_sub           43 non-null float64
dtypes: float64(3), object(1)
memory usage: 17.5+ KB

                   lobbyist_cleanname      income  Unnamed: 0  paid_to_sub
0  Brandeberry Mckenna Public Affairs  1611425.56         6.0      51660.0
1  Colorado Legislative Services, Llc  1508256.20         NaN          NaN
2                      Politicalworks  1126849.95         NaN          NaN
3               Headwaters Strategies  1122559.91         NaN          NaN
4             The Capstone Group, Llc   980929.00         NaN          NaN

Fill the null values with zeroes.

In [48]:
totals = totals.fillna(0)

In [50]:
totals['net_income'] = totals['income'] - totals['paid_to_sub']
totals.info()
totals.head(20)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 448 entries, 0 to 447
Data columns (total 5 columns):
lobbyist_cleanname    448 non-null object
income                448 non-null float64
Unnamed: 0            448 non-null float64
paid_to_sub           448 non-null float64
net_income            448 non-null float64
dtypes: float64(4), object(1)
memory usage: 21.0+ KB

,lobbyist_cleanname,income,Unnamed: 0,paid_to_sub,net_income
0,Brandeberry Mckenna Public Affairs,1611425.56,6.0,51660.00,1559765.56
1,"Colorado Legislative Services, Llc",1508256.20,0.0,0.00,1508256.20
2,Politicalworks,1126849.95,0.0,0.00,1126849.95
3,Headwaters Strategies,1122559.91,0.0,0.00,1122559.91
4,"The Capstone Group, Llc",980929.00,0.0,0.00,980929.00
5,Axiom Strategies Inc,892341.78,0.0,0.00,892341.78
6,5280 Strategies,864844.81,0.0,269583.40,595261.41
7,"Nexus Policy Group, Inc.",816578.56,0.0,0.00,816578.56
8,"JLH Consulting & Public Affairs, Llc",637373.68,23.0,116394.01,520979.67
9,"Mendez Consulting, Inc.",608348.95,0.0,0.00,608348.95
10,Bowditch & Cassell Public Affairs,575591.10,5.0,1000.00,574591.10
11,"Aponte Public Affairs, Inc.",542300.36,0.0,0.00,542300.36
12,R&R Partners,540501.01,0.0,0.00,540501.01
13,Michael Feeley,521299.12,0.0,0.00,521299.12
14,Michael Best Strategies Llc,500743.31,0.0,0.00,500743.31
15,"Weist Capitol Group, Inc.",476749.98,0.0,0.00,476749.98
16,"Siegel Public Affairs, Llc",471836.42,36.0,18250.00,453586.42
17,Policy Matters,460723.80,0.0,0.00,460723.80
18,Hudson Government Affairs,435000.00,21.0,10000.00,425000.00
19,"Frontline Public Affairs (Miles Consulting, Inc.)",415353.48,0.0,0.00,415353.48

This gets lobbyists, client and income tables for Django app.

In [58]:
lob_table = lob17_clean.filter(['lobbyist_cleanname', 'Company', 'lob_city', 'lob_state'], axis=1)
lob_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11338 entries, 0 to 11337
Data columns (total 4 columns):
lobbyist_cleanname    11338 non-null object
Company               1241 non-null object
lob_city              11338 non-null object
lob_state             11338 non-null object
dtypes: object(4)
memory usage: 442.9+ KB

In [61]:
#https://stackoverflow.com/questions/30530663/how-to-select-distinct-across-multiple-data-frame-columns-in-pandas
lob_basics = lob_table.drop_duplicates()

In [63]:
lob_basics.to_csv('lobbyist.csv')

In [68]:
client_table = detail17.filter(['employer_cleanname'])
client_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11338 entries, 766 to 207888
Data columns (total 1 columns):
employer_cleanname    11338 non-null object
dtypes: object(1)
memory usage: 177.2+ KB

In [69]:
client_basics = client_table.drop_duplicates()

In [70]:
client_basics.to_csv('clients.csv')

In [71]:
income_tab = detail17.filter(['lobbyist_cleanname', 'employer_cleanname', 'report_month', 'fiscal_year', 'income' ])
income_tab.info()
income_tab.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11338 entries, 766 to 207888
Data columns (total 5 columns):
lobbyist_cleanname    11338 non-null object
employer_cleanname    11338 non-null object
report_month          11338 non-null object
fiscal_year           11338 non-null object
income                11338 non-null float64
dtypes: float64(1), object(4)
memory usage: 531.5+ KB

,lobbyist_cleanname,employer_cleanname,report_month,fiscal_year,income
766,5280 Strategies,Land Title Guarantee Company,July,2017,3000.0
767,5280 Strategies,Legacy Water Association,July,2017,2500.0
768,5280 Strategies,Xcel Energy,July,2017,14500.0
769,5280 Strategies,El Paso County,July,2017,4000.0
770,5280 Strategies,Littleton Public Schools,July,2017,3000.0

In [72]:
income_tab.to_csv('income.csv')